@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

:root {
    --primary-color: #0d7cc6;
    --secondary-color: #010101;
    --tertiary-color: #90c2e6;
    --forth-color: #c1e4fc;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 93%;
    margin-top: 1ch;
    padding-block: 1ch;
    border-radius: 8px;
    gap: 20ch;
    position: fixed;
    left: 3.5vw;
    z-index: 5;
    background-color: #fff;
}
.logo-section {
    display: flex;
    align-items: center;
}
#nav-links {
    display: flex;
    list-style: none;
}

#nav-links a{
    text-decoration: none;
    margin-inline: 2ch;
    font-weight: bold;
    color: var(--secondary-color);
}
button{
    color: #f2f2f2;
    background-color: var(--primary-color);
    padding-inline: 2ch;
    padding-block: 0.6ch;
    border: none;
    font-size: large;
    border-radius: 0.5ch;
}
button:hover {
    opacity: 0.5;
    cursor: pointer;
}
.get-started{
    color: #f2f2f2;
    background-color: var(--primary-color);
    padding-inline: 4ch;
    padding-block: 1.4ch;
    border: none;
    font-size: large;
    border-radius: 0.5ch;
    margin-top: 2ch;
}
h1 {
    font-size: x-large;
    color: var(--primary-color)
}
#logo-JCRAM {
    height: 56px;
    width: 56px;
}
header {
    height: 100dvh;
    display: flex;
    flex-wrap: wrap;
    margin: 1ch;
    border-radius: 3ch;
}
.left-section, .right-section {
    flex-basis: 50%;
    position: relative;
}
.left-section{
    position: relative;
    border-radius: 3ch 0 0 3ch;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.left-section h2 {
    width: 51%;
    font-size: 2.4rem;
    margin-top: 3ch;
}
.left-section p {
    width: 68%;
    margin-block: 3ch;
}
.left-section div {
    margin-left: 4ch;
}
.right-section {
    border-radius: 0 3ch 3ch 0;
    background-color: aliceblue;
    display: flex;
    align-items: center;

}
#arrow{
    width: 20%;
    position: absolute;
    top: 25%;
    right: 15%;
    z-index: 2;
}
#arrow img {
    width: 100%;
}
.star{
    position: absolute;
    top: 27%;
    left: 18.5%;
    padding-block: 0.4ch;
    width: 9.5ch;
    border-radius: 3ch;
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    z-index: 1;
    align-items: center;
}
.star div {
    border: solid black 1px;
    background-color: rgb(243, 117, 13);
    width: 26px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.girl-travel-bgc{
    background-color: var(--tertiary-color);
    position: absolute;
    top: 13%;
    right: 20%;
    width: 60%;
    height: 72%;    
    margin-inline: auto;
    margin-block-start: 10%;
    border-radius: 50% 40% 12% 60%;
}
#girl-travel {
    width: 102%;
    margin-left: 7%;
    z-index: 1;
}
#row-image{
    border: solid aliceblue 1.6px;
    position: absolute;
    width: 25%;
    height: 10%;
    top: 83%;
    left: 14%;
    z-index: 2;
}
#row-image img{
    width: 70%;
    height: 110%;
    margin-left: 4.7ch;
    margin-top: 0.5ch;
}
.navbar-moove {
    animation: nav-moove 0.5s linear;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--forth-color);
    margin-top: 0;
}
.navbar-moove-back {
    animation: nav-moove-back 0.5s linear;
    width: 93%;
    left: 3.5vw;
    background-color: white;
    margin-top: 1ch;
}
@keyframes nav-moove {
    from{
        background-color: white;
        width: 93%;
        left: 3.5vw;
        margin-top: 1ch;
    }
    to{
        background-color: var(--forth-color);
        width: 100%;
        left: 0;
        margin-top: 0;
    }
}
@keyframes nav-moove-back {
    from{
        background-color: var(--forth-color);
        width: 100%;
        left: 0;
        margin-top: 0;
    }
    to{
        background-color: white;
        width: 93%;
        left: 3.5vw;
        margin-top: 1ch;
    }
}
section {
    display: flex;
    flex-wrap: wrap;
    height: 100dvh;
}
.left-side, .right-side {
    flex-basis: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.left-side {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.container-img {
    margin-left: 20%;
    width: 65%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.container-img img{
    width: 150%;
    height: fit-content;
}
#about1,#about2,#about3,#about4 {
    background-size: cover;
    background-position: 50%;
}
#about1 {
    background-image: url('../Ressources/about1.jpg');
}
#about2 {
    background-image: url('../Ressources/about2.jpg');
}
#about3 {
    background-image: url('../Ressources/about3.jpg');
}
#about4 {
    background-image: url('../Ressources/about4.jpg');
}
.even {
    width: 42%;
    height: 42%;
    border-radius: 2ch;
}
.odd {
    width: 49%;
    height: 48%;
    border-radius: 2ch;
}
.right-side {
    justify-content: space-around;
}
.right-side div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    margin-inline: 3%;
}
.right-side h2 {
    font-size: 2rem;
    margin-block-end: 1ch;
}
.right-side p {
    margin-block: 1ch;
}
.Reservation {
    color: #f2f2f2;
    background-color: var(--primary-color);
    padding-inline: 2.5ch;
    padding-block: 1.4ch;
    border: none;
    font-size: 1rem;
    border-radius: 0.5ch;
    margin-block: 2ch;
    width: 30%;
}
.accumulators {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-inline: 0 !important;
}
.accumulators span {
    font-size: xx-large;
    font-weight: bolder;
    color: black;
}
.accumulators .countries {
    width: 20% !important;
}
.accumulators .satisfaction, .accumulators .countries, .accumulators .experiences {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 0.9rem;
    }
}
.first-section {
    transform: scale(0);
}
.show{
    animation: show 2s ease-in;
}
@keyframes show {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(0.5);
        opacity: 0.3;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
