@media (max-width: 900px) {
    @keyframes nav-moove {
        from {
            background-color: white;
        }

        to {
            background-color: var(--forth-color);
        }
    }

    @keyframes nav-moove-back {
        from {
            background-color: var(--forth-color);
        }

        to {
            background-color: white;
        }
    }

    .navbar-moove-back {
        width: 100%;
        left: 0;
        margin-top: 0;
    }

    #burgerMenu {
        display: block;
    }

    li {
        display: none;
    }

    nav {
        gap: 0;
        margin-inline: 0;
        margin-top: 0;
        border-radius: 0;
        top: 0;
        left: 0;
        width: 100dvw;
        justify-content: space-between;
        padding-right: 2dvw;

        h1 {
            font-size: 1.5rem;
        }
    }

    #logo-JCRAM {
        height: 50px;
        width: 50px;
    }

    #Menu_sign_out {
        display: flex;
        align-items: center;
        gap: 3vw;
    }

    header,
    section {
        flex-direction: column-reverse;
    }
    header {
        margin: 0;
    }

    main,
    footer {
        display: none;
    }

    .left-side,
    .right-side {
        width: 100dvw;
    }
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 15%;
        right: 5%;
        width: 90%;
        height: 82%;
        margin-inline: auto;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    
    #girl-travel {
        width: 88%;
        margin-left: 13%;
        margin-top: 1dvw;
        z-index: 1;
    }
    #arrow {
        width: 20%;
        position: absolute;
        top: 22%;
        right: 4%;
        z-index: 2;
    }
    .left-section {
        text-align: center;
        h2 {
            border: solid blue 1px;
            margin-inline: auto;
            text-align: start;
            width: 60%;
            font-size: 1.5rem;
        }
        p {
            border: solid 1px green;
            margin-inline: auto;
            width: 95%;
        }
    }
    
}