@media (max-width:1000px) {
    body {
        flex-direction: column;
    }
    #login-section, #imgs {
        width: 100dvw;
        height: 50dvh;
        position: relative;
    }
    #plane {
        top: 23%;
    }
    .login {
        width: 95dvw;
    }
}
@media (min-width : 1800px) {
    p {
        width: 71.6%;
    }
    .inputs {
        width: 80%;
        height: 5ch;
    }
}
