@media (max-width: 1200px) {
    @keyframes nav-moove {
        from {
            background-color: white;
        }

        to {
            background-color: var(--forth-color);
        }
    }

    @keyframes nav-moove-back {
        from {
            background-color: var(--forth-color);
        }

        to {
            background-color: white;
        }
    }
    @keyframes slideMenu-off {
        from {
            left: 0;
        }
        to {
            left: -100dvw;
        }
    }
    @keyframes slideMenu-on {
        from{
            left: -100dvw;
        }
        to {
            left: 0;
        }
    }
    .navbar-moove-back {
        width: 100%;
        left: 0;
        margin-top: 0;
    }
    #burgerMenu {
        display: block;
    }
    .Menu-off {
        animation: slideMenu-off 1s linear;
        left: -100dvw;
    }
    .showMenu {
        animation: slideMenu-on 1s linear;
        left: 0;
    }
    #out {
        display: block;
        width: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #f2f2f2;
        justify-content: space-around;
        height: 24px;
        border-radius: 50%;
        background-color: orange;
        margin-left: 93dvw;
        margin-top: -1dvh;
        font-size: 19px;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #f2f2f2;
        position: absolute;
        top: 0;
        left: -100dvw;
        width: 100dvw;
        height: 75dvh;
        padding-bottom: 40dvh;
    }

    nav {
        gap: 0;
        margin-inline: 0;
        margin-top: 0;
        border-radius: 0;
        top: 0;
        left: 0;
        width: 100dvw;
        justify-content: space-between;
        padding-right: 2dvw;

        h1 {
            font-size: 1.5rem;
        }
    }

    #logo-JCRAM {
        height: 50px;
        width: 50px;
    }

    #Menu_sign_out {
        display: flex;
        align-items: center;
        gap: 3vw;
    }
    .left-section,
    .right-section  {
        border-radius: 0;
    }
    section {
        flex-direction: column;
    }

    header {
        flex-direction: column-reverse;
        margin: 0;
        margin-top: 5dvh !important;
    }

    .left-side,
    .right-side {
        width: 100dvw;
    }

    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 90%;
        height: 82%;
        margin-inline: auto;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    .star {
        top: 15%;
        left: 4%;
    }
    #row-image {
        height: 20%;
        top: 79%;
        left: 10%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
    #girl-travel {
        width: 86.6%;
        margin-left: 15%;
        z-index: 1;
    }
    
    #arrow {
        width: 20%;
        position: absolute;
        top: 12%;
        right: 4%;
        z-index: 2;
    }

    .left-section {
        text-align: center;

        h2 {
            margin-inline: auto;
            text-align: start;
            width: 60%;
            font-size: 1.5rem;
        }
        
        p {
            width: 95%;
        }
    }
    
    .even,
    .odd {
        width: 80dvw;
        height: 50dvh;
    }
    
    #first-section,
    #second-section {
        flex-direction: column;
        height: max-content;
    }
    
    .container-img {
        margin-left: 0;
        gap: 1dvh;
        width: 100dvw;
        margin-block: 3dvh;
    }
    .left-side, .right-side {
        height: max-content;
    }
    .left-side {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    #third-section {
        height: max-content;
        margin-block: 5dvh;
    }
    
    #forms {
        flex-direction: column-reverse;
        width: 95dvw;
        border-radius: 1ch;

        .second-part {
            flex-basis: 70dvh;
        }
        
        h2 {
            font-size: 2rem;
        }
        
        h3 {
            margin-block: 2dvh;
        }
    }
    
    form {
        flex-direction: column;
    }
    
    .input input {
        height: 5dvh;
    }
    
    #hotels {
        flex-direction: column;
        gap: 0;
        width: 100dvw;
        
        .type-1,
        .type-3 {
            width: 100dvw;
            height: max-content !important;
            
            div {
                width: 96dvw;
                height: 65dvh;
                margin-inline: auto;
            }
        }
        
        .type-2 {
            width: 96dvw;
            height: 50dvh;
            margin-inline: auto;
        }
    }
    footer {
        flex-direction: column;
        height: max-content;
        align-items: center;
    }
    .ftr-left-side{
        flex-basis: 40dvh;
        p{
            margin-inline-start: 0;
            width: 90%;
        }
    }
    .social-media {
        margin-inline: auto;
    }
    .ftr-middle-side {
        flex-basis: 20dvh;
    }
    .ftr-right-side {
        justify-content: center;
        align-items: center;
        margin-block: 2dvh;
        width: 100dvw !important;
    }
    #snt{
        position: absolute;
        top: -5%;
        right: 2%;
    }
    .sent  {
        width: 4rem;
        height: 4rem;
    }
    #ftr-form {
        width: 60dvw !important;
    }
    #reservation-btn {
        margin-bottom: 7dvh !important;
    }

    #successMessage-rsv {
        position: absolute;
        bottom: -78dvh;
        left: 23%;
        width: fit-content;
    }
}
@media (width: 412px) and (height: 915px) {
    #girl-travel {
        width: 88%;
        margin-left: 14%;
        margin-top: 0.4dvh;
        z-index: 1;
    }
    
}
@media (max-width: 1200px) and (min-width: 900px) {
    header {
        flex-direction: column-reverse;
        margin: 0;
        height: 200dvh;
        margin-top: 5dvh !important;
        div{
            h2 {
                font-size: 4rem !important;
                width: 55% !important;
            }
            p {
                margin-inline: auto;
                font-size: large;
                margin-block: 7dvh !important;
            }
        }
    }

    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 82%;
        margin-inline: 5%;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    .star {
        top: 20%;
        left: 12%;
        width: 12ch;
        div {
            width: 30px;
        }
    }
    #arrow {
        width: 20%;
        position: absolute;
        top: 15%;
        right: 10%;
        z-index: 2;
    }
    #row-image {
        height: 20%;
        top: 79%;
        left: 10%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
    .left-section {
        flex-basis: 48.5%;
        div{
            h2 {
                width: 42%;
                font-size: 3rem;
            }
            p{
                width: 50%;
                font-size: larger !important;
            }
        }
    }
    .right-section {
        flex-basis: 48.5%;
    }
    .texts {
        gap: 2dvh;
    }
    #girl-travel {
        width: 88%;
        margin-left: 14%;
        margin-top: -2dvh;
        z-index: 1;
    }
}

@media (width: 1960px) and (height: 1080px) {
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 80%;
        margin-right: 5rem;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 100%;
        margin-left: 12%;
        margin-top: 4dvh !important;
        z-index: 1;
    }
    .star {
        top: 20%;
        left: 12%;
        width: 12ch;
        div {
            width: 30px;
        }
    }
    #arrow {
        width: 20%;
        position: absolute;
        top: 15%;
        right: 10%;
        z-index: 2;
    }
    #row-image {
        height: 20%;
        top: 79%;
        left: 9% !important;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
    .left-section {
        flex-basis: 48.5%;
        div{
            h2 {
                width: 42%;
                font-size: 3rem;
            }
            p{
                width: 50%;
            }
        }
    }
    .right-section {
        flex-basis: 48.5%;
    }
    .texts {
        gap: 2dvh;
    }
}
@media (width: 1960px) and (height: 980px) {
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 80%;
        margin-right: 5rem;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 91%;
        margin-left: 12%;
        margin-top: 0.5dvh;
        z-index: 1;
    }
    .star {
        top: 20%;
        left: 12%;
        width: 12ch;
        div {
            width: 30px;
        }
    }
    #arrow {
        width: 20%;
        position: absolute;
        top: 15%;
        right: 10%;
        z-index: 2;
    }
    #row-image {
        height: 20%;
        top: 79%;
        left: 10%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
    .left-section {
        flex-basis: 48.5%;
        div{
            h2 {
                width: 42%;
                font-size: 3rem;
            }
            p{
                width: 50%;
            }
        }
    }
    .right-section {
        flex-basis: 48.5%;
    }
    .texts {
        gap: 2dvh;
    }
}
@media (width: 1960px) and (min-height: 1001px) and (max-height:1019px){
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 80%;
        margin-right: 5rem;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 94%;
        margin-left: 12%;
        margin-top: 0.5dvh;
        z-index: 1;
    }
    .star {
        top: 20%;
        left: 12%;
        width: 12ch;
        div {
            width: 30px;
        }
    }
    #arrow {
        width: 20%;
        position: absolute;
        top: 15%;
        right: 10%;
        z-index: 2;
    }
    #row-image {
        height: 20%;
        top: 79%;
        left: 10%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
    .left-section {
        flex-basis: 48.5%;
        div{
            h2 {
                width: 42%;
                font-size: 3rem;
            }
            p{
                width: 50%;
            }
        }
    }
    .right-section {
        flex-basis: 48.5%;
    }
    .texts {
        gap: 2dvh;
    }
}
@media (width: 1960px) and (min-height: 1019px) and (max-height:1050px){
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 80%;
        margin-right: 5rem;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 96%;
        margin-left: 12%;
        margin-top: 0.5dvh;
        z-index: 1;
    }
    .star {
        top: 20%;
        left: 12%;
        width: 12ch;
        div {
            width: 30px;
        }
    }
    #arrow {
        width: 20%;
        position: absolute;
        top: 15%;
        right: 10%;
        z-index: 2;
    }
    #row-image {
        height: 20%;
        top: 79%;
        left: 10%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
    .left-section {
        flex-basis: 48.5%;
        div{
            h2 {
                width: 42%;
                font-size: 3rem;
            }
            p{
                width: 50%;
            }
        }
    }
    .right-section {
        flex-basis: 48.5%;
    }
    .texts {
        gap: 2dvh;
    }
}
@media (width: 1960px) and (min-height: 1051px) and (max-height:1079px){
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 80%;
        margin-right: 5rem;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 99%;
        margin-left: 12%;
        margin-top: 0.5dvh;
        z-index: 1;
    }
    .star {
        top: 20%;
        left: 12%;
        width: 12ch;
        div {
            width: 30px;
        }
    }
    #arrow {
        width: 20%;
        position: absolute;
        top: 15%;
        right: 10%;
        z-index: 2;
    }
    #row-image {
        height: 20%;
        top: 79%;
        left: 10%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
    .left-section {
        flex-basis: 48.5%;
        div{
            h2 {
                width: 42%;
                font-size: 3rem;
            }
            p{
                width: 50%;
            }
        }
    }
    .right-section {
        flex-basis: 48.5%;
    }
    .texts {
        gap: 2dvh;
    }
}
@media (width: 1960px) and (min-height: 981px) and (max-height:1000px){
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 80%;
        margin-right: 5rem;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 92%;
        margin-left: 12%;
        margin-top: 0.5dvh;
        z-index: 1;
    }
    .star {
        top: 20%;
        left: 12%;
        width: 12ch;
        div {
            width: 30px;
        }
    }
    #arrow {
        width: 20%;
        position: absolute;
        top: 15%;
        right: 10%;
        z-index: 2;
    }
    #row-image {
        height: 20%;
        top: 79%;
        left: 10%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
    .left-section {
        flex-basis: 48.5%;
        div{
            h2 {
                width: 42%;
                font-size: 3rem;
            }
            p{
                width: 50%;
            }
        }
    }
    .right-section {
        flex-basis: 48.5%;
    }
    .texts {
        gap: 2dvh;
    }
}
@media (min-width: 1880px) and (max-width: 1900px) and (min-height:980px){
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 75%;
        margin-right: 5rem;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 88%;
        margin-left: 12%;
        margin-top: 0.5dvh;
        z-index: 1;
    }
    .star {
        top: 20%;
        left: 12%;
        width: 12ch;
        div {
            width: 30px;
        }
    }
    #arrow {
        width: 20%;
        position: absolute;
        top: 15%;
        right: 10%;
        z-index: 2;
    }
    #row-image {
        height: 20%;
        top: 79%;
        left: 10%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
    .left-section {
        flex-basis: 48.5%;
        div{
            h2 {
                width: 42%;
                font-size: 3rem;
            }
            p{
                width: 50%;
            }
        }
    }
    .right-section {
        flex-basis: 48.5%;
    }
    .texts {
        gap: 2dvh;
    }
}
@media (min-width: 1860px) and (max-width: 1979px) and (min-height:980px){
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 75%;
        margin-right: 5rem;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 89%;
        margin-left: 12%;
        margin-top: 0.5dvh;
        z-index: 1;
    }
    .star {
        top: 20%;
        left: 12%;
        width: 12ch;
        div {
            width: 30px;
        }
    }
    #arrow {
        width: 20%;
        position: absolute;
        top: 15%;
        right: 10%;
        z-index: 2;
    }
    #row-image {
        height: 20%;
        top: 79%;
        left: 10%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
    .left-section {
        flex-basis: 48.5%;
        div{
            h2 {
                width: 42%;
                font-size: 3rem;
            }
            p{
                width: 50%;
            }
        }
    }
    .right-section {
        flex-basis: 48.5%;
    }
    .texts {
        gap: 2dvh;
    }
}
@media (min-width: 1840px) and (max-width: 11859px) and (min-height:980px){
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 75%;
        margin-right: 5rem;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 90%;
        margin-left: 12%;
        margin-top: 0.5dvh;
        z-index: 1;
    }
    .star {
        top: 20%;
        left: 12%;
        width: 12ch;
        div {
            width: 30px;
        }
    }
    #arrow {
        width: 20%;
        position: absolute;
        top: 15%;
        right: 10%;
        z-index: 2;
    }
    #row-image {
        height: 20%;
        top: 79%;
        left: 10%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
    .left-section {
        flex-basis: 48.5%;
        div{
            h2 {
                width: 42%;
                font-size: 3rem;
            }
            p{
                width: 50%;
            }
        }
    }
    .right-section {
        flex-basis: 48.5%;
    }
    .texts {
        gap: 2dvh;
    }
}
@media (min-width: 1779px) and (max-width: 1839px) and (min-height:980px){
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 75%;
        margin-right: 5rem;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 93%;
        margin-left: 12%;
        margin-top: 0.5dvh;
        z-index: 1;
    }
    .star {
        top: 20%;
        left: 12%;
        width: 12ch;
        div {
            width: 30px;
        }
    }
    #arrow {
        width: 20%;
        position: absolute;
        top: 15%;
        right: 10%;
        z-index: 2;
    }
    #row-image {
        height: 20%;
        top: 79%;
        left: 10%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
    .left-section {
        flex-basis: 48.5%;
        div{
            h2 {
                width: 42%;
                font-size: 3rem;
            }
            p{
                width: 50%;
            }
        }
    }
    .right-section {
        flex-basis: 48.5%;
    }
    .texts {
        gap: 2dvh;
    }
}
@media (min-width: 1739px) and (max-width: 1779px) and (min-height:980px){
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 75%;
        margin-right: 5rem;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 95%;
        margin-left: 12%;
        margin-top: 0.5dvh;
        z-index: 1;
    }
    .star {
        top: 20%;
        left: 12%;
        width: 12ch;
        div {
            width: 30px;
        }
    }
    #arrow {
        width: 20%;
        position: absolute;
        top: 15%;
        right: 10%;
        z-index: 2;
    }
    #row-image {
        height: 20%;
        top: 79%;
        left: 10%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
    .left-section {
        flex-basis: 48.5%;
        div{
            h2 {
                width: 42%;
                font-size: 3rem;
            }
            p{
                width: 50%;
            }
        }
    }
    .right-section {
        flex-basis: 48.5%;
    }
    .texts {
        gap: 2dvh;
    }
}
@media (width: 980px) and (height: 980px) {

    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 82%;
        margin-inline: 5%;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    .star {
        top: 20%;
        left: 12%;
        width: 12ch;
        div {
            width: 30px;
        }
    }
    #arrow {
        width: 20%;
        position: absolute;
        top: 15%;
        right: 10%;
        z-index: 2;
    }
    #row-image {
        height: 20%;
        top: 79%;
        left: 10%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
    #girl-travel {
        width: 90%;
        margin-left: 14%;
        margin-top: -2dvh;
        z-index: 1;
    }
}
@media (min-width: 981px) and (max-width:1020px) and (height: 980px) {
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 82%;
        margin-inline: 5%;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 88%;
        margin-left: 14%;
        margin-top: -2dvh;
        z-index: 1;
    }
}
@media (min-width: 1020px) and (max-width: 1040px) and (min-height:980px){
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 82%;
        margin-inline: 5%;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 88%;
        margin-left: 14%;
        margin-top: -2dvh;
        z-index: 1;
    }
}
@media (min-width: 1201px) and (max-width:1500px) and (min-height:700px) {
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 80%;
        height: 75%;
        margin-right: 1rem;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 100%;
        margin-left: 12%;
        margin-top: 0.5dvh;
        z-index: 1;
    }
    .star {
        top: 20%;
        left: 12%;
        width: 12ch;
        div {
            width: 30px;
        }
    }
    #arrow {
        width: 20%;
        position: absolute;
        top: 15%;
        right: 10%;
        z-index: 2;
    }
    #row-image {
        height: 20%;
        top: 79%;
        left: 10%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
    .left-section {
        flex-basis: 48.5%;
        div{
            h2 {
                width: 42%;
                font-size: 3rem;
            }
            p{
                width: 50%;
            }
        }
    }
    .right-section {
        flex-basis: 48.5%;
    }
    .texts {
        gap: 2dvh;
    }
}
@media (max-width:400px) and (max-height:700px) {
    header {
        flex-direction: column-reverse !important;
        margin: 0;
        margin-top: 5dvh !important;
    }

    .left-side,
    .right-side {
        width: 100dvw;
    }

    #girl-travel {
        width: 87%;
        margin-left: 12%;
        margin-top: 0.5dvh;
        z-index: 1;
    }


}
@media (min-width: 600px) and (max-width: 700px) and (min-height: 600px) and (max-height:700px) {
    header {
        flex-direction: column-reverse !important;
        margin: 0;
        height: 200dvh;
        margin-top: 5dvh !important;
    }
    .left-section,
    .right-section  {
        height: 100dvh;
    }
    .star {
        top: 20%;
        left: 20%;
    }
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 70%;
        height: 70%;
        margin-inline:5%;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 86%;
        margin-left: 14%;
        margin-top: -2dvh;
        z-index: 1;
    }
    #row-image {
        height: 20%;
        top: 70%;
        left: 20%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
}
@media (min-width: 600px) and (max-width: 700px) and (height: 700px) and (max-height:800px){
    header {
        flex-direction: column-reverse !important;
        margin: 0;
        height: 200dvh;
        margin-top: 5dvh !important;
    }
    .left-section,
    .right-section  {
        height: 100dvh;
    }
    .star {
        top: 20%;
        left: 20%;
    }
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 70%;
        height: 70%;
        margin-inline:5%;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 95%;
        margin-left: 14%;
        margin-top: -2dvh;
        z-index: 1;
    }
    #row-image {
        height: 20%;
        top: 70%;
        left: 20%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
}
@media (min-width: 700px) and (max-width: 700px) and (height: 700px) and (max-height:800px){
    header {
        flex-direction: column-reverse !important;
        margin: 0;
        height: 200dvh;
        margin-top: 5dvh !important;
    }
    .left-section,
    .right-section  {
        height: 100dvh;
    }
    .star {
        top: 20%;
        left: 20%;
    }
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 75%;
        height: 82%;
        margin-inline:5%;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 90%;
        margin-left: 18%;
        margin-top: -2dvh;
        z-index: 1;
    }
}
@media (min-width: 800px) and (max-width: 700px) and (height: 700px) and (max-height:800px){
    header {
        flex-direction: column-reverse !important;
        margin: 0;
        height: 200dvh;
        margin-top: 5dvh !important;
    }
    .left-section,
    .right-section  {
        height: 100dvh;
    }
    .star {
        top: 20%;
        left: 20%;
    }
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 75%;
        height: 82%;
        margin-inline:5%;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 78%;
        margin-left: 18%;
        margin-top: -2dvh;
        z-index: 1;
    }
}
@media (min-width: 900px) and (max-width: 700px) and (height: 700px) and (max-height:800px){
    header {
        flex-direction: column-reverse !important;
        margin: 0;
        height: 200dvh;
        margin-top: 5dvh !important;
    }
    .left-section,
    .right-section  {
        height: 100dvh;
    }
    .star {
        top: 20%;
        left: 20%;
    }
    .girl-travel-bgc {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 5%;
        right: 5%;
        width: 60%;
        height: 82%;
        margin-inline:15%;
        margin-block-start: 10%;
        border-radius: 50% 40% 12% 60%;
    }
    #girl-travel {
        width: 92%;
        margin-left: 14%;
        margin-top: -2dvh;
        z-index: 1;
    }
    #row-image {
        height: 20%;
        top: 83%;
        left: 15%;
        img {
            width: 100%;
            height: 80%;
            margin-left: -0.5ch;
        }
    }
    #arrow {
        width: 20%;
        position: absolute;
        top: 12%;
        right: 16%;
        z-index: 2;
    }
}
