@media (max-width : 999px) {
    body {
        flex-direction: column;
    }

    #login-section,
    #imgs {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 899px) {
    body {
        #login-section,
        #imgs {
            flex-basis: 100dvw;
            height: 100dvh;
            position: relative;
        }
    }
    .login {
        width: 100%;
        h1 {
            font-size: 3rem;
        }
        p{
            font-size: small;
        }
    }
    .inputs {
        height: 5.7ch;
        width: 96%;
        margin-block: 3ch;
    }
    button {
        padding-inline: 1ch;
    }

}